* {
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    height: 78px;
    width: 100%;
    background-color: rgb(223, 3, 3);
    cursor: default;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    text-align: center;  
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    z-index: 10;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 180px;
}

.logo i {
    color: rgb(188, 9, 9);
    font-size: 28.8px;
    cursor: pointer;
}

.logo h2{
    font-size: 28.8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-right: 180px;
}

.nav-links ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.nav-links li {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.hero {
    height: 350px;
    background-color: rgb(219, 16, 16);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.hero h1 {  
    margin-top: 30px;
    font-size: 56px;
}

.hero p {
    font-size: 20.8px;
    margin-top: -13px;
}

.hero ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 17.6px;
    margin-right: 50px;
    margin-bottom: 100px;
}

.hero li {
    border: 3px solid white;
    border-radius: 40px;
    padding: 20px;
    width: 170px;
}

.hero li:hover {
    background-color: white;
    color: rgb(203, 4, 4);
    transform: scale(1.1);
}

.txt {
    color: rgb(203, 4, 4);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.txt h2 {
    font-size: 40px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin: auto;
}

.box {
    width: 250px;
    border: 2px solid rgba(255, 255, 255, 0.318);
    border-radius: 20px;
    box-shadow: inset;
}