* {
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    height: 78px;
    width: 100%;
    background-color: rgb(223, 3, 3);
    cursor: default;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    text-align: center;  
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    z-index: 10;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 180px;
}

.logo i {
    color: rgb(188, 9, 9);
    font-size: 28.8px;
    cursor: pointer;
}

.logo h2{
    font-size: 28.8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-right: 180px;
}

.nav-links ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.nav-links li {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.nav-links li a {
    transition: opacity 0.3s;
}

.hero {
    height: 350px;
    background-color: rgb(219, 16, 16);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.hero h1 {  
    margin-top: 30px;
    font-size: 56px;
}

.hero p {
    font-size: 20.8px;
    margin-top: -13px;
}

.hero ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 17.6px;
    margin-right: 50px;
    margin-bottom: 100px;
}

.hero li {
    border: 3px solid white;
    border-radius: 40px;
    padding: 20px;
    width: 170px;
}

.hero li:hover {
    background-color: white;
    color: rgb(203, 4, 4);
    transform: scale(1.1);
}

.txt {
    margin: 70px;
    color: rgb(203, 4, 4);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.txt h2 {
    font-size: 40px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin: auto;
}

.box {
    width: 262px;
    border: 2px solid rgb(231, 212, 212);
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 30px;
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(220,38,38,0.2);
}

.box i {
    font-size: 48px;
}

#a {
    color: rgb(89, 5, 161);
}

#b {
    color: goldenrod;
}

#c {
    color: rgb(125, 144, 148);
}

.box h3 {
    font-size: 24px;
    color: rgb(203, 4, 4);
}

.box p {
    font-size: 16px;
}

.impact {
    margin-top: 70px;
    background-color: rgba(235, 234, 234, 0.814);
    height: 350px;
    padding: 20px;
}

.txt1 {
    color: rgb(203, 4, 4);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.txt1 h2 {
    font-size: 40px;
}

.container2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.box1 {
    width: 262px;
    border: 2px solid rgb(231, 212, 212);
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 30px;
}

footer{
    margin: 0;
    margin-top: -30px;
    background-color: rgb(21, 26, 56);
    height: 76px;
}

.foot {
    display: flex;
    height: 100%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    justify-content: center;
    align-items: center;   
}