{% extends 'base.html' %}

{% block content %}
<section>
    <div class="about-hero">
        <h1>About LifeDrop</h1>
        <p>Connecting donors with those in need, one drop at a time.</p>
    </div>
</section>
<section>
        <div class="about-txt">
            <h2>Our Mission & Values</h2>
        </div>
        <div class="about-container">
            <div class="about-box">
                <i class="fa-solid fa-bullseye" id="d"></i>
                <h3>Save Lives</h3>
                <p>Every donation through our platform has the potential to save up to three lives.</p>
            </div>
            <div class="about-box">
                <i class="fa-solid fa-handshake" id="e"></i>
                <h3>Build Communities</h3>
                <p>Creating a network of compassionate donors ready to help in times of need.</p>
            </div>
            <div class="about-box">
                <i class="fa-solid fa-bolt" id="f"></i>
                <h3>Act Fast</h3>
                <p>Connecting donors with urgent requests within minutes, not hours.</p>
            </div>
        </div>
</section>
<section>
    <div class="ques">
        <h2>Why LifeDrop?</h2>
        <p>LifeDrop stands out as a vital solution in the blood donation ecosystem because it effectively 
addresses the critical challenges of timely donor-recipient connection and blood availability. The 
platform empowers users to quickly locate compatible donors nearby using real-time location 
tracking and blood group matching, reducing the often life-threatening delays in blood supply. It 
also facilitates direct communication between donors and recipients or hospitals, eliminating 
bureaucratic hurdles and streamlining the donation process.

By integrating features like donor registration, donation tracking, alerts for urgent blood needs, 
and comprehensive data security, LifeDrop enhances transparency, trust, and ease of use. It 
fosters community engagement by encouraging voluntary donations and expanding the 
network's reach to save more lives. The app also supports pre-requesting blood specifying 
quantity and blood group requirements, addressing critical shortages proactively.

In summary, LifeDrop exists to bridge the gap between blood donors and those in urgent need 
swiftly and safely, facilitating a more efficient, accessible, and life-saving blood donation 
experience than traditional methods.</p>
    </div>
</section>
{% endblock %}