<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifeDrop Network</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static',filename='temp.css')}}">
</head>
<body>
        <div class="navbar">
            <div class="logo">
                <div>
                    <a href="{{ url_for('home')}}"><i class="fa-solid fa-droplet"></i></a>
                </div>
                <div>
                    <a href="{{ url_for('home')}}"><h2>LifeDrop</h2></a>
                </div>
            </div>
            <div class="nav-links">
                <ul>
                    <a href="{{ url_for('home') }}"><li>Home</li></a>
                    <a href="{{ url_for('about') }}"><li>About</li></a>
                    <a href="{{ url_for('contact')}}"><li>Contact</li></a>
                    <a href="{{ url_for('request') }}"><li>Request</li></a>                                  
                </ul>   
            </div>
        </div>
    <div class="content">           
    {% block content %}

    {% endblock %}
    </div> 
    <footer>
        <div class="foot">
            <p>© 2025 LifeDrop Blood Donation Network. All rights reserved.</p>
        </div>       
    </footer>
</body>
</html>